.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span.fa {
    display: inline-block !important;
}


.sidebar-mini.sidebar-collapse .main-sidebar {
    transition: width 0.3s linear;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    transition: width 0.3s linear;
}

.sidebar-mini.sidebar-collapse .main-header .logo {
     transition: width 0.3s linear;
}
